* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body {
    height: 100vh;
    scroll-behavior: smooth;
}

/* global styles */
button {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}

.container {
    position: relative;
    width: 100%;
}
img {
    max-width: 100%;
}
/* side menu styling */
/* close overlay */
.nav_links-mobile {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: all 1s;
    visibility: hidden;
    z-index: -1;
    overflow-y: scroll;
}
/* open overlay */
.open_nav_links-mobile {
    visibility: visible;
    z-index: 2;
}
.button_section .close_btn {
    font-size: 1.5rem;
}
.nav_links-header {
    padding: 0 1.5em 2.8em;
    background: #f8f8f8;
}
.button_section {
    padding: 2.1em 1.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close_btn {
    cursor: pointer;
}
.search {
    border-bottom: 1px solid black;
    background-color: transparent;
    margin-bottom: 1.87em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search p {
    font-size: 1.25rem;
    margin-right: 0.62em;
    opacity: 50%;
}
.search input {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    padding: 0.62em;
    width: 90%;
}

.nav_link-items > ul > li {
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.25em;
    transition: all 0.3s linear;
}
.nav_link-items > ul > li:hover {
    color: #1c69d4;
}
.main_section {
    padding: 2.5em 1.5em;
}
.p-center {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}
.nav_section p {
    text-align: center;
}
.nav_section-btn {
    width: 100%;
    padding: 0.87em;
    margin-top: 1.25em;
    font-weight: 900;
    font-size: 1rem;
    border: transparent;
    cursor: pointer;
    color: white;
    background-color: #1c69d4;
    outline: transparent;
    transition: all 0.3s linear;
}
.nav_section-btn:hover {
    background-color: rgb(49, 49, 228);
}
.country_section .p-center {
    padding: 1.56em 0;
    font-weight: 400;
    border-bottom: 0.1px solid grey;
}
.country_list > li > div {
    padding: 0.9em 0;
    border-style: solid;
    border-width: 0.1px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: grey;
    font-size: 0.9rem;
    transition: all 0.3s linear;
}
.country_list > li > div:hover {
    opacity: 50%;
    cursor: pointer;
}

/* main page styling */
/* burger nav menu icons */

.burger_icons > div {
    background-color: white;
    height: 3px;
    width: 1.1em;
    box-shadow: 1px 5px 8px #3a3737;
    margin-bottom: 3px;
}
.hide_burger {
    display: none;
}
/* top nav  */

.burger_icons {
    position: fixed;
    cursor: pointer;
    top: 40px;
    left: 50px;

    z-index: 2;
}
.scroll_logo_container {
    position: absolute;
    right: 40px;
    top: 30px;
    width: 50px;
    z-index: 2;
}
.scroll_logo_container img {
    max-width: 100%;
}
.globe {
    display: none;
}
.desktop_logo {
    display: none;
}
/* header styles */
.opening_header {
    position: relative;
    min-height: 60vh;
    border-bottom: 2px solid white;
    overflow: hidden;
}
.opening_header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: filter 5s ease;
    transition: transform 5s ease;
}
.opening_header-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.7);
}
.darkoverlay {
    filter: brightness(0.55);
    transform: scale(1.1);
}
.info {
    bottom: 0;
    padding: 0 25px;
    width: 100%;
    position: absolute;
    color: white;
}

/* main button styling */
.mainbtn {
    background-color: transparent;
    padding: 10px 40px;
    margin: 30px 0 40px 0;
    font-weight: 900;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    transition: all 0.3s;
}
.mainbtn:hover {
    background-color: white;
    color: black;
}

/* article order styling  */
/* 450 * 197 */
.article_order {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2.5em 0;
}

.article_order-image img {
    width: 60%;
    max-width: 100%;
    margin: auto;
    margin-bottom: 2.187em;
}
.article_order p {
    margin-bottom: 0.4375em;
}
.btn {
    background-color: transparent;
    padding: 10px 40px;
    margin: 30px 0 0 0;
    width: 90%;
    border: 2px solid black;
    font-size: 1rem;
    transition: all 0.3s;
}

/*podcast sections styles */
/* hide button before scroll */
.prev {
    display: none;
}
.podcast_section {
    background-color: #262626;
    color: white;
    padding: 30px 0 20px 0;
    display: flex;
    flex-direction: column;
    height: auto;
}
.podcast_section-one {
    padding: 0 25px;
}
.podcast_section h2 {
    font-weight: 500;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.episode_title {
    text-transform: uppercase;
}
.episode_subtitle {
    text-transform: lowercase;
}
.podcast_container {
    position: relative;
    min-height: 350px;
    scroll-snap-align: start;
    overflow: hidden;
}

.podcast_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: filter 5s ease;
    transition: transform 5s ease;
    overflow: hidden;
}
.podcast_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.podcast_info {
    bottom: 0;
    width: 90%;
    padding: 0.625em 1.5em;
    font-size: 0.87rem;
    position: absolute;
    color: white;
}
.podcast_section-two {
    width: 100vw;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(21em, 70%);
    gap: 10px;
    scroll-snap-type: inline mandatory;
    overflow: auto;
    scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.podcast_section-two::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.podcast_section-two {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.podcast_section_two-wrappper {
    position: relative;
}
.prev,
.next {
    font-size: 1em;
    position: absolute;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    background: none;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 0.25em;
    padding: 10px;
}
.prev {
    left: 0.5em;
}
.next {
    right: 0.5em;
}
/* models section */
.model_section {
    text-align: center;
    padding: 2.5em 0;
}
.model_section h1 {
    margin: 10px 0;
}
.btn_container {
    text-align: center;
}
.show_more {
    background-color: transparent;
    padding: 0.625em 2.5em;
    width: 90%;
    margin: 25px 0;
    border: 2px solid black;
    font-size: 1rem;
    transition: all 0.3s;
}
.show_more:hover {
    color: white;
    background-color: #262626;
}

/* gallery styles */
.gallery_article_container {
    position: relative;
    min-height: 21.8em;
    overflow: hidden;
    cursor: pointer;
}

.gallery_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: filter 5s ease;
    transition: transform 5s ease;
}
.gallery_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.gallery_info {
    bottom: 0;
    width: 90%;
    padding: 0.625em 1.5em;
    font-size: 0.875rem;
    position: absolute;
    color: white;
}

/* gallery layout */

.gallery_layout-one {
    margin-bottom: 3px;
    display: grid;
    gap: 3px;
    grid-template-areas:
        "col2 col2"
        "one two"
        "three four";
    font-weight: 400;
}
.columnTwo {
    /* grid-column: 1/-1; */
    grid-area: col2;
}
.columnOnei {
    grid-area: one;
}
.columnOneii {
    grid-area: two;
}
.columnOneiii {
    grid-area: three;
}
.columnOneiv {
    grid-area: four;
}
.columnOnev {
    grid-area: five;
}
.gallery_layout-one div:nth-child(6) {
    display: none;
}
.gallery_layout-two {
    margin-bottom: 3px;
    display: grid;
    grid-template-areas:
        "col2 col2"
        "one two"
        "three four"
        "five six";
    gap: 3px;
    font-weight: 400;
}
.colspan2 {
    grid-area: col2;
}
.col1_i {
    grid-area: one;
}
.col1_ii {
    grid-area: two;
}
.col1_ii {
    grid-area: three;
}
.col1_iv {
    grid-area: four;
}
.col1_v {
    grid-area: five;
}
.col1_vi {
    grid-area: six;
}
/* footer */
.footer {
    background-color: #262626;
}
.quicklinks,
.bmw,
.socials,
.websites {
    padding: 0 0 2.5em 1.5em;
}
.footer > div > p {
    color: white;
    margin-bottom: 0.9em;
    padding-bottom: 7px;
    font-size: 0.875rem;
    border-bottom: 1px solid #8b8b8b;
}

.footer ul li {
    display: block;
    color: #8b8b8b;
    font-size: 14px;
    margin: 0.81em 0;
    cursor: pointer;
}
.footer p {
    color: white;
}
.footer ul li:hover {
    color: white;
}
.languages .active {
    color: white;
}

.languages ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 2.5em;
}
.date {
    color: white;
    padding: 2.5em 0;
    text-align: center;
}
.footer > .date > p {
    border: none;
}

@media (min-width: 760px) {
    /* nav styles */
    .burger_icons {
        display: none;
    }
    .nav_links-mobile {
        position: absolute;
        z-index: 3;
        font-size: 0.75rem;
        width: fit-content;
        height: 8em;
        margin: 0 auto;
        left: 0;
        right: 0;
        color: white;
        background-color: transparent;
        visibility: visible;
        overflow: hidden;
    }
    .nav_links-header {
        background-color: transparent;
        padding: 0;
        display: grid;
        grid-template-areas:
            "sp3 sp3 sp1"
            " . . sp2";
    }
    .search {
        padding: 2em 0 12px 0;
        margin-right: 16px;
        margin-bottom: 0;
        width: fit-content;
        align-items: center;
        justify-content: start;
        border-bottom: 1px solid white;

        grid-area: sp1;
    }
    .globe {
        display: flex;
        border-left: 1px solid #8b8b8b;
        align-items: center;
    }
    .globe_icon {
        margin-left: 10px;
    }
    .nav_link-items {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 1.3em;
        padding: 0.62em 0;
        grid-area: sp3;
    }
    .search_icon {
        margin: 0 0.9em;
    }
    .search input {
        display: none;
    }
    .button_section {
        grid-area: sp2;
        padding: 0;
    }
    .search p {
        color: white;
        opacity: 100%;
    }

    .close_btn {
        display: none;
    }
    .main_section {
        display: none;
    }
    .sheer {
        margin: 5px 1.87em 0 -6.5em;
        text-align: center;
        font-size: 1rem;
    }
    .nav_subtext {
        display: none;
    }
    .nav_link-items > .nav_ul {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .nav_link-items > .nav_ul > li {
        font-size: 14px;
        border-bottom: 1px solid white;
        padding: 10px 10px 10px 0;
        margin-bottom: 0;
    }
    .nav_ul li:hover {
        border-bottom: 1px solid #1c69d4;
    }
    .scroll_logo_container {
        left: 65%;
        margin-left: 6.35em;
        top: 20px;
        right: 0;
    }
    .opening_headers-container {
        display: grid;
        gap: 2px;
        grid-template-columns: repeat(2, 1fr);
    }
    /* article styles */
    .article_order-image img {
        width: 70%;
    }
    .article_order {
        font-size: 1.5rem;
    }
    .btn {
        width: 20%;
    }
    /* podacasr styles */
    .podcast_section {
        flex-direction: row;
        width: 100vw;
        height: fit-content;
        padding: 4em 0;
        align-items: center;
        justify-content: space-between;
    }
    .podcast_section-one {
        flex: 1;
        max-width: 500px;
        min-height: 350px;
        align-self: baseline;
    }
    .podcast_section-two {
        flex: 2;
        width: 60vw;
    }
    .model_section {
        font-size: 1.5rem;
    }
    /* gallery styles */
    .gallery_layout-one div:last-child {
        display: block;
    }
    .gallery_article_container {
        min-height: 10em;
    }
    .gallery_layout-one {
        grid-template-areas:
            "col2 col2 one"
            "col2 col2 two"
            "three four five";
    }
    .gallery_layout-two div:last-child {
        display: none;
    }
    .gallery_layout-two {
        grid-template-areas:
            "one col2 col2"
            "two col2 col2"
            "three four five";
    }
}

@media (min-width: 1040px) {
    .opening_header {
        height: 80vh;
    }
    .opening_headers-container {
        height: 100vh;
    }
    .nav_subtext {
        display: block;
    }
    .scroll_logo_container {
        left: 55%;
        right: 55%;
        z-index: 4;
    }
    .sheer {
        margin: 5px 0;
    }
    .scroll_logo_container {
        display: none;
    }
    .search_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .desktop_logo {
        display: block;
        margin-top: 1.4375em;
        margin-left: 1.875em;
    }
    .nav_link-items {
        margin-top: 2em;
    }
    /* podcast styles*/
    .podcast_section-one {
        min-height: 350px;
    }
    .podcast_section-two {
        min-width: 70vw;
        max-width: 95vw;
    }
    .gallery_layout-one,
    .gallery_layout-two {
        height: 100vh;
    }
    .show_more {
        width: 30%;
    }
}
